@media screen and (min-width: 320px) and (max-width: 767px) {
    /* General */
    
    body, html {
        font-family: 'Raleway', sans-serif;
        color: #000000;
        font-weight: 500;
        font-size: 32px;
        background-color: #ffffff;
        margin: 0px;
        padding: 0px;
    }
    
    main {
        min-width: 320px;
        max-width: 767px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    }
    
    #container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    }
    
    .display-none {
        display: none;
    }
    
    * {
        box-sizing: border-box;
    }
    
    :active, :focus {
        border: none;
        outline: none;
        box-shadow: none;
        }
        
    
    body a {
        text-decoration: none;
        color: #000000;
    }
    
    body p {
        margin: 0px;
        padding: 0px;
    }
    
    /* Titles */
    
    h1, h2 {
        font-weight: 700;
        font-size: 46px;
        padding: 0px;
        margin: 0px;
    }
    
    
    h3 {
        font-weight: 700;
        font-size: 14px;
        padding: 0px;
        margin: 0px;
    }
    
    h4 {
        font-weight: 700;
        font-size: 32px;
        padding: 0px;
        margin: 0px;
    }
    
    /* Header */
    
    header {
        display : block;
        text-align: center;
        min-width: 320px;
        max-width: 767px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 48px;
    }
    
    header img {
        display: block;
        height: 90px;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    nav ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
    
    nav li {
        width: 50%;
        margin: 0px;
        padding: 0px;
        margin-bottom: 58px;
        display: inline-block;
    }
    
    .nav-link a {
        display: inline-block;
        font-size: 30px;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 48px;
        padding-bottom: 36px;
        border: 2px solid #ffffff;
        border-bottom: 6px solid #f2f2f2;
        font-weight: 500;
    }
    
    .nav-link a:hover {
        border-top: 2px solid #ffffff;
        border-bottom: 6px solid #0065fc;
        color: #0065fc;
        transition: 0.3s ease-in-out;
    }
    
    .nav a:hover {
        color: #0065fc;
    }
    
    /* Search */
    
    .search {
        font-size: 32px;
        font-weight: 400;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .search p {
        margin-top: 26px;
        margin-bottom: 68px;
    }
    
    .search h1 {
        margin-top: 6px;
    }
    
    .search form {
        display: flex;
        vertical-align: center;
        width: 100%;
    }

    .search i {
        background-color: #f2f2f2;
        border-radius: 30px 0px 0px 30px;
        font-size: 38px;
        padding-top: 34px;
        padding-bottom: 34px;
        padding-left: 38px;
        padding-right: 38px;
    }
    
    .search .input {
        border: 2px solid #f2f2f2;
        border-right: 0px;
        padding-left: 12px;
        padding-right: 12px;
        font-weight: 600;
        color: #000000;
        width: 100%;
        font-size: 34px;
    }
    
    .search button {
        background-color: #0065fc;
        border: 0px;
        color: #ffffff;
        border-right: 0px;
        padding-left: 34px;
        padding-right: 34px;
        font-weight: 700;
        border-radius: 0px 30px 30px 0px;
        font-size: 38px;
    }

    .desktop-hide {
        display: none;
    }
    
    /* Filters */
    
    .filters {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 22px;
        font-weight: 700;
        font-size: 13px;
        justify-content: space-between;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .filters-title {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 36px;
        margin-top: 40px;
        width: 100%;
        margin-bottom: 30px;
    }
    
    .filter {
        display: flex;
        align-items: center;
    }
    
    .filter i {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #deebff;
        color: #0065fc;
        font-size: 38px;
        padding-top: 36px;
        padding-bottom: 36px;
        height: 102px;
        width: 102px;
        margin-right: 26px;
    }
    
    .filters a {
        border-right: 4px solid #f2f2f2;
        border-left: 0px solid #ffffff;
        border-top: 4px solid #f2f2f2;
        border-bottom: 4px solid #f2f2f2;
        border-radius: 60px;
        font-size: 30px;
        padding-right: 36px;
        margin-bottom: 24px;
    }
    
    .filters a:hover {
        background-color: #0065fc;
        color: #ffffff;
    }
    
    .info {
        display: flex;
        align-items: center;
        margin-top: 36px;
        margin-bottom: 28px;
        margin-left: 6px;
        font-weight: 400;
        margin-left: 40px;
        margin-right: 40px;

    }
    
    .info i {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        font-size: 26px;
        padding-left: 18px;
        padding-right: 18px;
        color: #0065fc;
        margin-right: 26px;
    }
    
    /* Section Hebergements */
    
    section.hebergements {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements .card:hover, aside .card:hover  {
        opacity: 0.6;
    }
    
    
    .hebergements-body h2 {
        padding-left: 20px;
        padding-right: 40px;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    
    .hebergements-body {
        width: 100%;
        background-color: #ffffff;
        border-radius: 12px;
        padding-top: 32px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .card h4 {
        margin-bottom: 14px;
        margin-top: 14px;
    }
    
    .card p {
        font-size: 26px;
        font-weight: 400;
    }
    
    .card i {
        font-size: 22px;
        letter-spacing: 1px;
        margin-top: 18px;
        margin-bottom: 18px;
    }
    
    .card .fa-star {
        color: #0065fc;
    }
    
    .card .grey .fa-star {
        color: #e0e0e0;
    }
    
    .more {
        display: block;
        margin-left: 4.5%;
        font-weight: 700;
        margin-top: 22px;
        padding-left: 2px;
        font-size: 34px;
        margin-bottom: 72px;
    }
    
    .cards-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
    }
    
    .cards-container .card {
        min-width: 100%;
        max-width: 100%;
        background-color: #ffffff;
        border-radius: 44px;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        margin-left: 1.5%;
        margin-right: 1.5%;
        padding: 10px;
        margin-bottom: 32px;
        padding-bottom: 6px;
    }
    
    .cards-container .card-img img {
        width: 100%;
        height: 234px;
        object-fit: cover;
        border-radius: 30px 30px 0px 0px;
    }
    
    .hebergements-body .card-body {
        margin-left: 16px;
        margin-top: 6px;
    }

    /* Section Hebergements */
    
    aside {
        min-width: 100%;
        max-width: 100%;
        background-color: #f2f2f2;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 80px;
        padding-bottom: 80px;
        }

    .aside-body {
    width: 100%;
    }

    
    .aside-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 50px;
    }
    
    .aside-header i {
        font-size: 38px;
    }
    
    aside .card {
        width: 100%;
        background-color: #ffffff;
        border-radius: 40px;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        margin-bottom: 25px;
        padding: 10px 10px 4px 10px;
    }
    
    aside .card-img {
        width: 40%;
        margin-right: 6%;
    }
    
    aside .card-img img {
        width: 100%;
        height: 274px;
        object-fit: cover;
        border-radius: 28px 0px 0px 28px;
    }
    
    aside .card-infos {
        width: 44%;
        margin-top: 22px;
        display: flex;
        flex-wrap: wrap;
    }
    
    aside .card-body {
        width: 100%;
        display: flex;
    }

    aside .stars i {
        font-size: 22px;
    }

    aside .card p {
        font-size: 26px;
        font-weight: 400;
    }

    @media screen and (min-width: 320px) and (max-width: 660px) {

    aside .card p {
        font-size: 22px;
    }

    aside .card h4 {
        margin: 0px;
        padding: 0px;
        font-size: 26px;
    }

    aside .card-infos {
        margin-top: 12px;
    }
    
}
    
    /* Activités */
    
    .activites .card-body:hover {
        opacity: 0.6;
    }
    
    
    .activites h2 {
        margin-top: 48px;
        margin-bottom: 54px;
        margin-left: 40px;
        margin-right: 40px;
        
    }
    
    .activites-body {
        display: block;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .activites-body .card {
        width: 100%;
        display: block;
    }
    
    .activites-body .card-body {
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        border-radius: 40px;
        padding-bottom: 14px;
    }
    
    .activites-body .card-body.activite001, .activites-body .card-body.activite002, .activites-body .card-body.activite003, .activites-body .card-body.activite004 {
        margin-right: 0px;
        margin-bottom: 46px;
    }
    
    .activites-body .card-body.activite002 {
        margin-bottom: 0px;
        margin-bottom: 46px;
    }
    
    .activites-body .card-body.activite005 {
        margin-bottom: 0px;
        margin-bottom: 46px;
    }
    
    .activites-body .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 40px 40px 0px 0px;
    }
    
    .activites-body h4 {
        margin-top: 14px;
        margin-left: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .card img.activite001 {
        height: 274px;
    }
    
    .card img.activite002 {
        height: 274px;
    }
    
    .card img.activite003 {
        height: 274px;
    }
    
    .card img.activite004 {
        height: 274px;
    }
    
    .card img.activite005 {
        height: 274px;
    }
    
    .activites h4 {
        margin-bottom: auto;
    }
    
    /* Activités */
    
    footer {
        min-width: 100%;
        max-width: 100%;
        background-color: #f2f2f2;
        padding-top: 68px;
        padding-bottom: 68px;
        margin-top: 96px;
        padding-left: 40px;
        padding-right: 40px;
    }
    
    footer h3 {
        margin-bottom: 26px;
        font-size: 36px;
    }
    
    .footer-container {
        min-width: 320px;
        max-width: 767px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        line-height: 2;
    }
    
    .footer-body {
        width: 100%;
        margin-bottom: 52px;
    }
    
    .footer-container a {
        display: block;
    }
    }