@media screen and (min-width: 768px) and (max-width: 992px) {

    /* General */

    body, html {
        font-family: 'Raleway', sans-serif;
        color: #000000;
        font-weight: 500;
        font-size: 14px;
        background-color: #ffffff;
        margin: 0px;
        padding: 0px;
    }

    main {
        min-width: 768px;
        max-width: 991px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    }

    #container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    }

    .display-none {
        display: none;
    }

    * {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
    }

    :active, :focus {
        border: none;
        outline: none;
        box-shadow: none;
        }
        

    body a {
        text-decoration: none;
        color: #000000;
    }

    body p {
        margin: 0px;
        padding: 0px;
    }

    /* Titles */

    h1, h2 {
        font-weight: 700;
        font-size: 18px;
        padding: 0px;
        margin: 0px;
    }

    
    h3 {
        font-weight: 700;
        font-size: 16px;
        padding: 0px;
        margin: 0px;
    }

    h4 {
        font-weight: 700;
        font-size: 14px;
        padding: 0px;
        margin: 0px;
    }

    /* Header */

    header {
        display : flex;
        align-items: center;
	    justify-content: space-between;
        min-width: 768px;
        max-width: 991px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 4.5%;
        padding-left: 4.5%;
    }

    header img {
        display: block;
        height: 54px;
        margin-left: 14px;
        margin-top: 10px;
    }

    nav {
        padding-right: 4.5%;
        padding-left: 4.5%;
    }
    
    .nav-link a {
        display: inline-block;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: 6px;
        margin-right: 2px;
        padding-top: 34px;
        padding-bottom: 36px;
        border: 2px solid #ffffff;
        font-weight: 600;
    }

    .nav-link a:hover {
        border-top: 2px solid #0065fc;
        color: #0065fc;
        transition: 0.3s ease-in-out;
    }

    .nav a:hover {
        color: #0065fc;
    }

    nav ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }

    nav ul li {
        display: inline-block;
    }

    /* Search */

    .search {
        margin-left: 4px;
        font-size: 15px;
        padding-right: 4.5%;
        padding-left: 4.5%;
    }

    .search p {
        margin-top: 8px;
        margin-bottom: 12px;
    }

    .search h1 {
        margin-top: 6px;
    }

    .search form {
        display: flex;
        vertical-align: center;
    }

    .search i {
        background-color: #f2f2f2;
        border-radius: 12px 0px 0px 12px;
        font-size: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 14px;
        padding-right: 14px;
    }

    .search .input {
        border: 2px solid #f2f2f2;
        border-right: 0px;
        padding-left: 12px;
        padding-right: 12px;
        font-weight: 700;
        color: #000000;
        width: 172px;
    }

    .search .submit {
        background-color: #0065fc;
        border: 0px;
        color: #ffffff;
        border-right: 0px;
        padding-left: 14px;
        padding-right: 14px;
        font-weight: 700;
        border-radius: 0px 12px 12px 0px;
    }

    .mobile-hide {
        display: none;
    }

    /* Filters */

    .filters {
        display: flex;
        align-items: center;
        margin-top: 22px;
        font-weight: 700;
        font-size: 13px;
        padding-right: 4.5%;
        padding-left: 4.5%;
    }

    .filters-title {
        margin-left: 10px;
        margin-right: 16px;
    }

    .filter {
        display: flex;
        align-items: center;
    }

    .filter i {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-color: #deebff;
        margin-right: 10px;
        color: #0065fc;
    }

    .filters a {
        margin-left: 8px;
        margin-right: 8px;
        border-right: 2px solid #f2f2f2;
        border-left: 0px solid #ffffff;
        border-top: 2px solid #f2f2f2;
        border-bottom: 2px solid #f2f2f2;
        border-radius: 20px;
        padding-right: 14px;
    }

    .filters a:hover {
        background-color: #0065fc;
        color: #ffffff;
    }

    .info {
        display: flex;
        align-items: center;
        margin-top: 22px;
        margin-bottom: 28px;
        margin-left: 6px;
        padding-right: 4.5%;
        padding-left: 4.5%;
    }

    .info i {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        font-size: 11px;
        margin-right: 8px;
        color: #0065fc;
    }

    /* Section Hebergements */

    section.hebergements {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .hebergements-body h2 {
        padding-left: 4.5%;
        margin-bottom: 16px;
    }

    .hebergements-body {
        width: 100%;
        background-color: #f2f2f2;
        border-radius: 12px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .hebergements .card:hover, aside .card:hover {
        opacity: 0.6;
    }

    .card p {
        font-size: 13px;
    }

    .card i {
        font-size: 11px;
        letter-spacing: 1px;
    }

    .card .fa-star {
        color: #0065fc;
    }

    .card .grey .fa-star {
        color: #e0e0e0;
    }

    .more {
        display: block;
        margin-left: 4.5%;
        font-weight: 700;
        margin-top: 10px;
        padding-left: 2px;
        font-size: 15px;
    }

    .cards-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
    }

    .cards-container .card {
        width: 30%;
        background-color: #ffffff;
        border-radius: 16px;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        margin-left: 1.5%;
        margin-right: 1.5%;
        padding: 6px;
        margin-bottom: 22px;
        padding-bottom: 6px;
    }

    .cards-container .card-img img {
        width: 100%;
        height: 134px;
        object-fit: cover;
        border-radius: 12px 12px 0px 0px;
    }

    .hebergements-body .card-body {
        margin-left: 8px;
        margin-top: 6px;
    }



    /* Section Hebergements */

    aside {
        width: 100%;
        background-color: #ffffff;
        border-radius: 12px;
        padding-left: 1.5%;
        padding-right: 1.5%;
        padding-top: 32px;
        padding-bottom: 32px;
        margin-top: 32px;
    }

    aside h2 {
        margin-bottom: 16px;
    }

    .aside-body {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .aside-header {
        display: flex;
        justify-content: left;
        margin-right: 1.5%;
        margin-left: 1.5%;
    }

    .aside-header i {
        font-size: 19px;
        margin-left: 40px;
    }

    aside .card {
        width: 30%;
        margin-right: 1.5%;
        margin-left: 1.5%;
        background-color: #ffffff;
        border-radius: 16px;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        margin-bottom: 0px;
        padding: 6px 6px 3px 6px;
    }

    aside .card-img {
        width: 38%;
        margin-right: 6%;
    }

    aside .card-img img {
        width: 100%;
        height: 158px;
        object-fit: cover;
        border-radius: 12px 0px 0px 12px;
    }

    aside .card-infos {
        width: 44%;
        margin-top: 12px;
        display: flex;
        flex-wrap: wrap;
    }

    aside .card-body {
        width: 100%;
        display: flex;
    }

    /* Activités */

    .activites {
        margin-right: 4.5%;
        margin-left: 4.5%;
    }
    .activites h2 {
        margin-top: 48px;
        margin-bottom: 20px;
    }

    .activites-body {
        display: flex;
    }

    .activites-body .card {
        width: 25%;
        align-items: stretch;
        align-content: space-between;
        display: flex;
        flex-direction: column;
    }

    .activites-body .card-body {
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        border-radius: 16px 16px 16px 16px;
        padding-bottom: 14px;
        
    }

    .activites .card-body:hover {
        opacity: 0.6;
    }

    .activites-body .card-body.activite001, .activites-body .card-body.activite002, .activites-body .card-body.activite003, .activites-body .card-body.activite004 {
        margin-right: 30px;
    }

    .activites-body .card-body.activite002 {
        margin-bottom: 27px;
    }
    
    .activites-body .card-body.activite005 {
        margin-bottom: 35px;
    }

    .activites-body .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px 16px 0px 0px;
    }

    .activites-body h4 {
        margin-top: 14px;
        margin-left: 14px;
    }
    .card img.activite001 {
        height: 258px;
    }

    .card img.activite002 {
        height: 119px;
    }

    .card img.activite003 {
        height: 67px;
    }

    .card img.activite004 {
        height: 89px;
    }

    .card img.activite005 {
        height: 97px;
    }

    .activites h4 {
        margin-bottom: auto;
    }

    /* Activités */

    footer {
        min-width: 100%;
        max-width: 100%;
        background-color: #f2f2f2;
        padding-top: 38px;
        padding-bottom: 38px;
        margin-top: 44px;
    }

    footer h3 {
        margin-bottom: 4px;
    }

    .footer-container {
        min-width: 768px;
        max-width: 991px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        line-height: 2;
        padding-left: 4.5%;
        padding-right: 4.5%;
    }

    .footer-body {
        width: 33%;
    }

    .footer-container a {
        display: block;
    }

    }
